@import url(./__image/cards__image.css);
@import url(./__item/cards__item.css);
@import url(./__text/cards__text.css);
@import url(./__like/cards__like.css);

.cards {
  width: 282px;
  height: 361px;
  margin: 0;
}